<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SkyPoint Demo Test Automation Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be46f">  <td>21/05/28 21:34:36</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestCase.endreport()[pri:0, instance:QATestCase.TestCase@6107227e]">&lt;&lt;endreport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@102617125</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>21/05/28 21:32:40</td>   <td>-116153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.isDisplayedMobileAttibutes()[pri:1, instance:QATestCase.TestCase@6107227e]">isDisplayedMobileAttibutes</td> 
  <td>main@102617125</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>21/05/28 21:34:35</td>   <td>-1042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.loginPageTitleTest()[pri:2, instance:QATestCase.TestCase@6107227e]">loginPageTitleTest</td> 
  <td>main@102617125</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>21/05/28 21:30:55</td>   <td>-221523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.setUp()[pri:0, instance:QATestCase.TestCase@6107227e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@102617125</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>21/05/28 21:32:46</td>   <td>-110514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.setUp()[pri:0, instance:QATestCase.TestCase@6107227e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@102617125</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>21/05/28 21:32:46</td>   <td>-110526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.tearDown(org.testng.ITestResult)[pri:0, instance:QATestCase.TestCase@6107227e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@102617125</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>21/05/28 21:34:36</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.tearDown(org.testng.ITestResult)[pri:0, instance:QATestCase.TestCase@6107227e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@102617125</td>   <td></td> </tr>
</table>
